[Desktop Entry]
Name=Cliphist Image
Comment=Clipboard history for Wayland (images)
Exec=wl-paste --type image --watch cliphist store
Type=Application
X-GNOME-Autostart-enabled=true
