[Desktop Entry]
Name=Cliphist
Comment=Clipboard history for Wayland (text)
Exec=wl-paste --watch cliphist store
Type=Application
X-GNOME-Autostart-enabled=true
